.personaje {
    border: 2px solid black;
    margin: 10px;
    
}
h1{
    font-size: 30px;
    font-weight:black;
    margin-left:20px;
    }
    img{
        width:100%;

    }
    h1 {
      background-color: black;
      color: white;
      padding: 10px; /* Ajusta el relleno según sea necesario */
      font-size: 30px;
      font-weight: bold;
      margin: 20px auto; /* Auto en el margen horizontal centrará el título */
      font-family: none;
      font-size: xxx-large;
      text-align: center;
  }
  .filtros{
    text-align: right;
  }
  
    footer.footer {
      background-color: black;
      color: white;
      padding: 10px; 
  }
  .footer{
    font-family: sans-serif;
  }

  .paginado {
    text-align: center; /* Centra los elementos dentro del paginado */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}



.total{
        display:grid;
        grid-template-columns: 0.9fr auto;
        align-items: center;
        background: aliceblue;
        font-family: sans-serif;
        position:absolute;
        top:0;
        width:99%;
        }
        /* CSS BOTON */
        button{
          background-color: #fbc2f8;
          border-radius: 100px;
          box-shadow: rgba(224, 52, 210, 0.2) 0 -25px 18px -14px inset,rgba(224, 52, 210, 0.2) 0 1px 2px,rgba(224, 52, 210, 0.2) 0 2px 4px,rgba(224, 52, 210, 0.2) 0 4px 8px,rgba(224, 52, 210, 0.2) 0 8px 16px,rgba(224, 52, 210, 0.2) 0 16px 32px;
          color: rgb(131, 6, 131);
          cursor: pointer;
          display: inline-block;
          padding: 7px 20px;
          text-align: center;
          text-decoration: none;
          transition: all 250ms;
          border: 0;
          font-size: 16px;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        } 
        .filtroTodo:hover, .filtroMujer:hover, .filtroHombre:hover {
          box-shadow: rgba(182, 44, 187, 0.35) 0 -25px 18px -14px inset,rgba(187, 44, 175, 0.25) 0 1px 2px,rgba(175, 44, 187, 0.25) 0 2px 4px,rgba(163, 44, 187, 0.25) 0 4px 8px,rgba(187, 44, 163, 0.25) 0 8px 16px,rgba(182, 44, 187, 0.25) 0 16px 32px;
          transform: scale(1.05) rotate(-1deg);
        }
        .person{
            margin-top:100px;
            
        }
        #personajes {
            display:grid;
            padding: 10px;
            grid-template-columns: repeat(4, 1fr);
          grid-gap:30px;
         align-items: center;
         
        }


    
      .personaje:hover {
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            cursor: pointer;
            
          }
           
        .card-image img {
          display: block;
          height: auto;   
          
      }

      .card-image {
        overflow: hidden;
        
    }
    .card-image:hover img {
            transform: scale(1.3);
            transition-duration: 0.5s;
            filter: grayscale(80%); 
            }
        .img:hover {
            overflow: hidden;
        }
        .card-image {
          overflow: hidden;
      }
      .datos{
        margin-left:20px;
        font-size:14px;
      }
  a{ 
    justify-content: center;
    padding: 15px;
    margin-left:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    

       
          .total2{
            margin-bottom:30px;
            margin-top:100px;
            
          }
          .pagifoot{
            margin-top:250px;
            margin-left:45%;
          }
          footer p{
            margin-top:40px;
            margin-left:30px;
          }